<%- include('./header'); %>

<h2>click on the test to start</h2>
<br>
<br>

<div class="row" style="margin-top: 50px;">
    <div class="col-12 col-md-6 container-login100-form-btn">
        <button class="login100-form-btn">
            <a href="/startCN">Computer Networks</a>
        </button>
    </div>
    <div class="col-12 col-md-6 container-login100-form-btn">
        <button class="login100-form-btn">
            <a href="/startOS">Operating System</a>
        </button>
    </div>
</div>

<!-- <a href="/startCN">Computer Networks test</a>
<a href="/startOS">Operating System Test</a> -->

<%- include('./footer'); %>